## Analyze missing values
In `train.csv`, There is many missing values.  
Speically, All missing values be into a column of `Promotion 1`, ... , `Promotion 5`.

I want to find **features and hided relations** in missing values to make our data modeling more clear.

In [74]:
import pandas as pd


train = pd.read_csv("/dataset/train.csv").drop(columns=["id"])
train.info()

def preprocess_date(date):
    day = date[:2]
    month = date[3:5]
    year = date[6:]
    return year + month + day

train["Date"] = train["Date"].apply(preprocess_date)
train.sort_values(by="Date")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6255 entries, 0 to 6254
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6255 non-null   int64
 1   Date          6255 non-null   object
 2   Temperature   6255 non-null   float64
 3   Fuel_Price    6255 non-null   float64
 4   Promotion1    2102 non-null   float64
 5   Promotion2    1592 non-null   float64
 6   Promotion3    1885 non-null   float64
 7   Promotion4    1819 non-null   float64
 8   Promotion5    2115 non-null   float64
 9   Unemployment  6255 non-null   float64
 10  IsHoliday     6255 non-null   bool
 11  Weekly_Sales  6255 non-null   float64
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 543.8+ KB

,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,20100205,42.31,2.572,NaN,NaN,NaN,NaN,NaN,8.106,False,1643690.90
5421,40,20100205,14.48,2.788,NaN,NaN,NaN,NaN,NaN,5.892,False,1001943.80
1529,12,20100205,49.47,2.962,NaN,NaN,NaN,NaN,NaN,13.975,False,1100046.37
4726,35,20100205,27.19,2.784,NaN,NaN,NaN,NaN,NaN,9.262,False,1230613.50
2224,17,20100205,23.11,2.666,NaN,NaN,NaN,NaN,NaN,6.548,False,789036.02
...,...,...,...,...,...,...,...,...,...,...,...,...
6115,44,20120928,64.80,3.821,380.96,NaN,NaN,NaN,2022.03,5.407,False,355307.94
972,7,20120928,50.64,3.789,3735.20,6.91,4.50,917.20,1793.35,7.872,False,525545.76
5281,38,20120928,81.22,3.966,201.62,NaN,NaN,29.21,802.50,10.926,False,398468.08
1667,12,20120928,81.22,3.966,3068.35,27.82,0.22,1307.43,3605.14,10.926,False,880415.67
6254,45,20120928,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,False,713173.95

In [97]:
def find_notnull(df, col):
    return df[df[col].notnull()]
    

promo1 = train[["Date", "Promotion1"]]
promo2 = train[["Date", "Promotion2"]]
promo3 = train[["Date", "Promotion3"]]
promo4 = train[["Date", "Promotion4"]]
promo5 = train[["Date", "Promotion5"]]

print(find_notnull(promo1, "Promotion1"), end='\n\n\n\n')
print(find_notnull(promo2, "Promotion2"), end='\n\n\n\n')
print(find_notnull(promo3, "Promotion3"), end='\n\n\n\n')
print(find_notnull(promo4, "Promotion4"), end='\n\n\n\n')
print(find_notnull(promo5, "Promotion5"))

          Date  Promotion1
92    20111111    10382.90
93    20111118     6074.12
94    20111125      410.31
95    20111202     5629.51
96    20111209     4640.65
...        ...         ...
6250  20120831    23641.30
6251  20120907    11024.45
6252  20120914    11407.95
6253  20120921     8452.20
6254  20120928     4556.61

[2102 rows x 2 columns]



          Date  Promotion2
92    20111111     6115.67
93    20111118      254.39
94    20111125       98.00
95    20111202       68.00
96    20111209       19.00
...        ...         ...
6249  20120824       58.38
6250  20120831        6.00
6251  20120907       12.80
6253  20120921       92.28
6254  20120928       20.64

[1592 rows x 2 columns]



          Date  Promotion3
92    20111111      215.07
93    20111118       51.98
94    20111125    55805.51
95    20111202     1398.11
96    20111209      105.02
...        ...         ...
6250  20120831       92.93
6251  20120907       52.63
6252  20120914        4.30
6253  20120921       63.24
6254  20120928        1.50

[1885 rows x 2 columns]



          Date  Promotion4
92    20111111     2406.62
93    20111118      427.39
94    20111125        8.00
95    20111202     2084.64
96    20111209     3639.42
...        ...         ...
6250  20120831     6988.31
6251  20120907     1854.77
6252  20120914     3421.72
6253  20120921     2376.38
6254  20120928     1601.01

[1819 rows x 2 columns]



          Date  Promotion5
92    20111111     6551.42
93    20111118     5988.57
94    20111125      554.92
95    20111202    20475.32
96    20111209    14461.82
...        ...         ...
6250  20120831     3992.13
6251  20120907     2055.70
6252  20120914     5268.92
6253  20120921     8670.40
6254  20120928     3288.25

[2115 rows x 2 columns]