### Contents  
**_I. Data preprocessing_**
> 1. Read dataset  
> 2. Missing values handling
>> a) `train.csv`  
>> b) `test.csv`
> 3. Data manipulation
>> a) `Date`  
>> b) `IsHoliday`  
>> c) `Store`  
>> d) `Promotion1`, ... , `Promotion5`
> 4. Add new features
> 5. Remove not using features  

**_II. Modeling_**  
> 1. Divide `train.csv` into training data and predicting data
> 2. Choose a suitable model
>> a) XGBooster  
>> b) Random Forest  

**_III. Submission_**

----
# I. Data preprocessing

## 1. Read dataset

In [88]:
import pandas as pd

train = pd.read_csv("dataset/train.csv")
test = pd.read_csv("dataset/test.csv")
submission = pd.read_csv("dataset/sample_submission.csv")

## 2. Missing values handling

### a) `train.csv`

In [89]:
train = train.fillna(0)

### b) `test.csv`

In [90]:
means = {
    "Promotion1":test["Promotion1"].mean(), "Promotion2":test["Promotion2"].mean(), 
    "Promotion3":test["Promotion3"].mean(), "Promotion4":test["Promotion4"].mean(), 
    "Promotion5":test["Promotion5"].mean()
}
test = test.fillna(value=means)

## 3. Data manipulation

### a) `Date`

In [91]:
import datetime as dt

def date_to_week(date):
    day, month, year = map(int, date.split('/'))
    t = dt.datetime(year, month, day) - dt.datetime(2010, 2, 5)
    return int(t.days // 7)

# train
train["Week"] = train["Date"].apply(date_to_week)

# test
test["Week"] = test["Date"].apply(date_to_week)

### b) `IsHoliday`

In [92]:
train["IsHoliday"] = train["IsHoliday"].apply(int)
test["IsHoliday"] = test["IsHoliday"].apply(int)

### c) `Store`

In [93]:
train = pd.get_dummies(data=train, columns=["Store"])
test = pd.get_dummies(data=test, columns=["Store"])

### d) `Promotion1`, ... , `Promotion5`

In [94]:
# Scaling
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import QuantileTransformer

# train
scaler = QuantileTransformer(n_quantiles = 6255)

scaler.fit(train[['Promotion1','Promotion2','Promotion3','Promotion4','Promotion5']])
scaled = scaler.transform(train[['Promotion1','Promotion2','Promotion3','Promotion4','Promotion5']])
train[['Scaled_Promotion1','Scaled_Promotion2','Scaled_Promotion3','Scaled_Promotion4','Scaled_Promotion5']] = scaled

# test
scaler = QuantileTransformer(n_quantiles = 180)

scaler.fit(test[['Promotion1','Promotion2','Promotion3','Promotion4','Promotion5']])
scaled = scaler.transform(test[['Promotion1','Promotion2','Promotion3','Promotion4','Promotion5']])
test[['Scaled_Promotion1','Scaled_Promotion2','Scaled_Promotion3','Scaled_Promotion4','Scaled_Promotion5']] = scaled

## 4. Add new features

In [95]:
social_features = ["Temperature","Fuel_Price","Unemployment"]
dummy = train[social_features]
dummy

      Temperature  Fuel_Price  Unemployment
0           42.31       2.572         8.106
1           38.51       2.548         8.106
2           39.93       2.514         8.106
3           46.63       2.561         8.106
4           46.50       2.625         8.106
...           ...         ...           ...
6250        75.09       3.867         8.684
6251        75.70       3.911         8.684
6252        67.87       3.948         8.684
6253        65.32       4.038         8.684
6254        64.88       3.997         8.684

[6255 rows x 3 columns]

## 5. Remove not using features

In [96]:
train = train.drop(columns=['id','Date','Promotion1','Promotion2','Promotion3','Promotion4','Promotion5'])
train = train.drop(columns=social_features)

test = test.drop(columns=['id','Date','Promotion1','Promotion2','Promotion3','Promotion4','Promotion5'])
test = test.drop(columns=social_features)

,IsHoliday,Weekly_Sales,Week,Store_1,Store_2,Store_3,Store_4,Store_5,Store_6,Store_7,...,Store_41,Store_42,Store_43,Store_44,Store_45,Scaled_Promotion1,Scaled_Promotion2,Scaled_Promotion3,Scaled_Promotion4,Scaled_Promotion5
0,0,1643690.90,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0.000000,0.375839,0.350016,0.000000,0.000000
1,1,1641957.44,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0.000000,0.375839,0.350016,0.000000,0.000000
2,0,1611968.17,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0.000000,0.375839,0.350016,0.000000,0.000000
3,0,1409727.59,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0.000000,0.375839,0.350016,0.000000,0.000000
4,0,1554806.68,4,1,0,0,0,0,0,0,...,0,0,0,0,0,0.000000,0.375839,0.350016,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,0,734297.87,134,0,0,0,0,0,0,0,...,0,0,0,0,1,0.984810,0.769108,0.917813,0.967221,0.869683
6251,1,766512.66,135,0,0,0,0,0,0,0,...,0,0,0,0,1,0.938919,0.783019,0.890790,0.873201,0.765110
6252,0,702238.27,136,0,0,0,0,0,0,0,...,0,0,0,0,1,0.942757,0.375839,0.770307,0.922610,0.910617
6253,0,723086.20,137,0,0,0,0,0,0,0,...,0,0,0,0,1,0.902782,0.839942,0.899105,0.890630,0.969779
6254,0,713173.95,138,0,0,0,0,0,0,0,...,0,0,0,0,1,0.813080,0.792933,0.729853,0.858810,0.835305

----
# II. Modeling

## 1. Divide `train.csv` into training data and for predicting data

In [97]:
x_train = train.drop(columns=["Weekly_Sales"])
y_train = train["Weekly_Sales"]

## 2. Choose a suitable model

In [98]:
predictions = {}

### a) XGBoost

In [99]:
import time
from xgboost import XGBRegressor

start_t = time.time()
model = XGBRegressor(objective='reg:squarederror', learning_rate=0.1, max_depth = 4, n_estimators = 1000)
model.fit(x_train, y_train)
prediction = model.predict(test)
predictions["XGBoost"] = prediction

print(f"[XGBoost] => time: {round(time.time() - start_t, 2)}(sec)")
print(f"{prediction[0]}, {prediction[1]}, ... , {prediction[-1]}")

[XGBoost] => time: 2.26(sec)
1501480.0, 1395371.5, ... , 689465.25

### b) Random forest

In [100]:
import time
from sklearn.ensemble import RandomForestRegressor

start_t = time.time()
model = RandomForestRegressor()
model.fit(x_train, y_train)
prediction = model.predict(test)
predictions["RandomForest"] = prediction

print(f"[RandomForest] => time: {round(time.time() - start_t, 2)}(sec)")
print(f"{prediction[0]}, {prediction[1]}, ... , {prediction[-1]}")

[RandomForest] => time: 3.28(sec)
1586779.1182999995, 1539634.0921000016, ... , 758056.9945999994

----
# III. Submission

In [101]:
import os
import datetime


def name(integer):
    return str(integer).zfill(2)
    
savetime = datetime.datetime.now()
folder = "-".join(map(name, [savetime.year, savetime.month, savetime.day]))
sub_folder = name(savetime.hour) + 'ï¼š' + name(savetime.minute) + 'ï¼š' + name(savetime.second)

for model in predictions:
    submission["Weekly_Sales"] = predictions[model]
    os.makedirs(f"dataset/submissions/{folder}/{sub_folder}", exist_ok=True)
    submission.to_csv(f"dataset/submissions/{folder}/{sub_folder}/{model}.csv", index=False)